@CHARSET "UTF-8";

/******************/
/* TimeBox Styles */
/******************/
.timePickerReadOnly,.timePickerReadOnlySmall {
	font-weight: bold;
	display: inline-block;
	text-decoration: none;
	text-align: center;
	color: black;
	background-color: #F2F2F2;
	padding: 6px 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-image: -webkit-linear-gradient(top, #E0E0E0, #E6E6E6, #8F8F8F);
	background-image: -moz-linear-gradient(top, #E0E0E0, #E6E6E6, #8F8F8F);
	background-image: -ms-linear-gradient(top, #E0E0E0, #E6E6E6, #8F8F8F);
	background-image: -o-linear-gradient(top, #E0E0E0, #E6E6E6, #8F8F8F);
	background-image: linear-gradient(top, #E0E0E0, #E6E6E6, #8F8F8F);
	border: 1px solid #535353;
	-webkit-box-shadow: 0px 1px 0px 0px black;
	-moz-box-shadow: 0px 1px 0px 0px black;
	box-shadow: 0px 1px 0px 0px black;
}

.timePickerReadOnly {
	font-size: 18px;
}

.timePickerReadOnlySmall {
	font-size: 12px;
}

.timePicker {
	display: inline-block;
	padding: 4px 5px 4px;
	text-decoration: none;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0 3px 4px -2px #333333 inset;
	-webkit-box-shadow: 0 3px 4px -2px #333333 inset;
	box-shadow: 0 3px 4px -2px #333333 inset;
	border: 1px solid #222222;
	background-color: white;
}

.timePickerEntry,.timePickerEntrySmall {
	font-weight: bold;
	display: inline-block;
	text-decoration: none;
	border: none;
	background-color: transparent;
}

.timePickerEntry {
	font-size: 18px;
}

.timePickerEntrySmall {
	font-size: 12px;
}

/********************/
/* iOSButton Styles */
/********************/
.iOSButton-badge {
	text-align: center;
	display: inline-block;
	font-size: 16px;
	color: white;
	background: #ff3333;
	border: 2px solid white;
	padding: 0px 5px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}

.iOSButton {
	cursor: pointer;
	border: 1px solid black;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
	background: #00b5e2;
}
